extends layout
block content
  .container
    ul
      each torrent in torrents
       li.torrent
         span.name= torrent.name
         span.path= torrent.path
         span.kind.label= torrent.kind
         div
           div.type 
             span.title Type:
             span.description
               | Assumed type is #[span.type.label.label-primary= torrent.assumedType]
               | with #[span=torrent.typeAccuracyPct]% accuracy #[a.btn.btn-primary Confirm]
               a.btn Change
           
